{% extends 'base.html' %}

{% block body %}

{% for book in books %}
<h3>{{ book.name }}</h3>
<form action="/update" method="POST">
    <input type="hidden" value="{{book.name}}" name="oldname">
    <input type="text" name="name" value="{{book.name}}">
    <input type="text" name="author"  value="{{book.author}}">
    <input type="submit" value="UPDATE">
</form>
<form action="/delete" method="POST">
    <input type="hidden" value="{{book.name}}" name="name">
    <input type="submit" value="DELETE">
</form>
{% endfor %}

{% endblock %}